<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>User Report</title>
    <style>
        body { font-family: Arial, sans-serif; font-size: 12px; }
        table { width: 100%; border-collapse: collapse; margin-top: 20px; }
        th, td { border: 1px solid #444; padding: 6px; text-align: left; }
        th { background: #eee; }
        .header{text-align: center}
        .header-right{text-align: right}
    </style>
</head>
<body>
<h2 class="header">Member Information Report</h2>
<h3 class="header-right">Printing Date & Time: {{ current_date_time }}</h3>

<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Address</th>
    </tr>
    </thead>
    <tbody>
    {% for member in memberInfo %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ member.name }}</td>
            <td>{{ member.age }}</td>
            <td>{{ member.email }}</td>
            <td>{{ member.phone }}</td>
            <td>{{ member.address }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="6">No users found.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>
